compose.yaml
.env

docker/admin-api/docker-entrypoint.d/*
!docker/admin-api/docker-entrypoint.d/.gitkeep

runtime/admin-api/cfg/*
!runtime/admin-api/cfg/.gitkeep

runtime/intrexx/org/*
!runtime/intrexx/org/.gitkeep

runtime/intrexx/import/*
!runtime/intrexx/import/.gitkeep

services/intrexx/portal-template/*
!services/intrexx/portal-template/.gitkeep

.swp
.idea
.vscode